.attribution { 
  position: absolute;
  bottom: pxToRem(10);
  left: calc(50vw - pxToRem(132.5));

  font-size: pxToRem(11); 
  text-align: center;
  color: white;

  a {
    text-decoration: none;
    cursor: pointer;
    color: $orange;

    &:hover {
      color: darken($orange, $amount: 20);
    }
  }
}