.component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: pxToRem(346);
  width: pxToRem(330);
  
  padding: pxToRem(25);
  border-radius: pxToRem(16);
  background-color: darken($dark-blue, $amount: 5); 
}
