.rating-state {
  .star-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: pxToRem(40);
    width: pxToRem(40);

    border-radius: pxToRem(50);
    background-color: $dark-blue;
    
    img {
      height: pxToRem(14);
      width: pxToRem(14);
    }
  }

  h1 {
    font-size: pxToRem(26);
    font-weight: 400;
    color: white;
  }

  p {
    font-size: pxToRem(14.2);
    line-height: pxToRem(23);
    color: $medium-grey;
  }

  .score {
    display: flex;
    justify-content: space-around;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: pxToRem(45);
      width: pxToRem(45);

      font-weight: 700;
      color: $medium-grey;
      background-color: $dark-blue;
      border-radius: pxToRem(25);
      cursor: pointer;

      &:hover {
        color: white;
        background-color: $orange;
      }
    }
  }

  button {
    height: pxToRem(40);
    letter-spacing: pxToRem(3);
    font-weight: 700;
    border: none;
    border-radius: pxToRem(25);
    color: white;
    background-color: $orange;
    cursor: pointer;
  }
}
