.thank-you-state {
  justify-content: space-around;
  padding: pxToRem(35) pxToREm(20);
  align-items: center;

  img {
    max-height: 32%;
    object-fit: contain;
  }

  span {
    width: pxToRem(186);
    padding-block: pxToRem(8);

    border-radius: pxToRem(20);
    text-align: center;
    font-size: pxToRem(15);
    color: $orange;
    background-color: $dark-blue;
  }

  div {
    text-align: center;

    h2 {
      color: white;
      margin-bottom: pxToRem(12);
    }

    p {
      font-size: pxToRem(15);
      color: $medium-grey;
    }
  }
}
